apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-deployment
  namespace: dev
spec:
  replicas: 2
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
      - name: pythonapp
        image: us-central1-docker.pkg.dev/eastern-polygon-477000-v7/python-app/python-app:latest
        ports:
        - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: python-service
  namespace: dev
spec:
  type: LoadBalancer
  name: 
  selector:
    app: python-app
  ports:
  - port: 5000
    targetPort: 5000